* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: conic-gradient(from 90deg at bottom right, rgb(7, 101, 129), rgb(22, 51, 143));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.container form {
  width: 70%;
  border: 3px solid #eee;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

label {
  font-weight: bold;
  display: block;
  margin: 20px 0 10px;
  font-weight: 700;
}

input {
  line-height: 1.7rem;
  padding: 5px 10px;
  color: black;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

.btn {
  background: #da4d0c;
  color: #fff;
  width: 100%;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 2rem;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #06bb66;
  color: #333;
}

.reset-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4d1024;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: #9cb474;
  color: #172629;
}

h2 {
  color: #15d3d3;
  margin-bottom: 15px;
}

.user-info {
  margin-top: 20px;
}

.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
  color: #e0ebdb;
}

.repo-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #3bafaf;
}

a:hover {
  text-decoration: underline;
}
